---
layout: default
---
<div id="main" role="main">
  {% if page.author_profile or layout.author_profile %}
    {% include sidebar.html %}
  {% endif %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title | default: "Archive" }}</h1>
    {% endunless %}

    {{ content }} {# Renders content from the markdown file using this layout, if any #}

    {% assign entries_layout = page.entries_layout | default: 'list' %}
    <div class="entries-{{ entries_layout }}">
      {% assign all_blog_posts = site.posts %}
      {% if all_blog_posts.size > 0 %}
        {% for post in all_blog_posts %}
          {% include archive-single.html type=entries_layout %}
        {% endfor %}
      {% else %}
        <p>No posts found in the site.posts collection.</p>
      {% endif %}
    </div>

    {% comment %} Temporarily disable pagination on this page to simplify debugging {% endcomment %}
    {% comment %} {% include paginator.html %} {% endcomment %}
  </div>
</div>