---
import { SITE } from '@/config';

const clientId = SITE.adsense?.enabled ? SITE.adsense.clientId : '';
---

{
  clientId && (
    <div class="my-12 text-center">
      <ins
        class="adsbygoogle"
        style="display:block"
        data-ad-client={clientId}
        data-ad-format="auto"
        data-full-width-responsive="true"
      />
      <script is:inline>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  )
}
